{% load i18n static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'favicon-64x64.ico' %}" sizes="64x64" type="image/png">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="{% static 'dashboard.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 d-flex align-items-center" href="{% url 'index' %}">
    <img src="{% static 'favicon-64x64.ico' %}" width="20" height="20" alt="">&ensp;
    БайтЭрг
  </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
          data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {#  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">#}
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="
        {% url 'accounts:logout' %}">{% trans 'Log out' %}
        <span data-feather="log-out"></span>
      </a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">
              <span data-feather="home"></span>
              {% trans 'Home' %} <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'articles:add' %}">
              <span data-feather="plus-circle"></span>
              {% trans 'Add' %} <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>

        {% if user.is_staff %}
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Управление</span>
            {#          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">#}
            {#            <span data-feather="plus-circle"></span>#}
            {#          </a>#}
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'api-root' %}">
                <span data-feather="terminal"></span>
                API
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">
                <span data-feather="settings"></span>
                {% trans 'Site administration' %}
              </a>
            </li>
          </ul>
        {% endif %}
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      {% block main %}
      {% endblock %}
    </main>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'jquery-3.5.1.slim.min.js' %}"><\/script>')</script>
<script src="{% static 'bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
        crossorigin="anonymous"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>#}
<script src="{% static 'feather-icons/4.28.0/feather.min.js' %}"></script>
<script src="{% static 'dashboard.js' %}"></script>
{% block skript %}{% endblock %}
</body>
</html>
